@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,dt,textarea,select,input,hr
{
    margin:0;
    padding:0;
}

a,a:hover{
  text-decoration:none;
}

a{
  color: #333;
}

a:hover {
    color: #f10180;
}

ul,ol{
    list-style: none;
}

img{
    /*display:block;*/
    border:none;
}

a, img {
    vertical-align: top;
    background: 0 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    }
//  
//i,span{
//  display: block;
//}

i,em{
    font-style: normal;
}

html,body{
    height:100%;
}

ul,ol{
    list-style: none;
}

header{
    width:100%;
    overflow: hidden;
    background: #ffffff;
    
    div{
        width: 1000px;
        height: 100px;
        margin: 0 auto;
//      background:darkcyan;
         a{
            float: left;
            width: 125px;
            height: 100px;
            vertical-align: top;
            line-height: 500px;
//          background:palegreen;
            background-image: url(../img.SignIn/sprites-hash-6954197b.png );
            background-position: -308px -57px;
            
            overflow: hidden;
        }
        
        .header_you{
            float:right;
            width:304px;
            height:100px;
//          background:palegreen;
            background-image: url(../img.SignIn/sprites-hash-6954197b.png );
            background-position: -622px 0px;
        } 
    }
  
}

.MajorPart{
    background-image: url(../img.SignIn/15487540172274.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    width:100%;}
//  height:650px;
 
 
    .MajorPart_div01{       
        width: 1000px;
        min-height: 550px;
        margin:0 auto;
        padding: 50px 20px;
//      background: gold;
    }    
//      登录盒子
        .SignIn_right{
        float: right;
        width: 360px;
        overflow: hidden;
//      height:436px;
        border-radius: 2px;
        background-color: #fff;
        }
       //登录盒子上部分
        .SignIn_right_top{
            width: 360px;
//          height:315px;
            overflow: hidden;
//          background-color: pink;
        }        
//          登录导航栏
            nav{
                border-bottom: 1px solid #e0e0e0;                
                width:360px;
                height:50px;
                position: relative;
//              background:skyblue;
            }
            .right_var:after{
                    position: absolute;
                    top: 15px;
                    right: 180px;
                    z-index: 1;
                    width: 1px;
                    height: 20px;
                    background-color: #ccc;
                    content: '';
                    font-size: 0;
                    line-height: 0;
                }    
                .right_01{
                    width:180px;
                    height:50px;
                    line-height: 50px;
                    float: left;
                    text-align: center;
                    font-size: 17px;
                    font-weight: 700;
//                  background:yellowgreen;
                }
                .right_byMa{
                    color:#f10180;
                }
               
            
//          登录区
            .SignIn_into{
                overflow: hidden;
                position: relative;
                width: 300px;
//              height: 228px;
//              margin-top: 26px;
                margin-left: auto;
                margin-right: auto;
//              background: gold;
            }
//              登录扫码区
                .SignIn_byImg{
                    width: 300px;
//                  height: 238px; 
                    overflow: hidden;
                    position: relative;
                    top:0;
                    padding-top: 26px;
//                  background: sienna; 
                }
//                   扫码
                    .byCode{
                        width: 300px;
//                      overflow: hidden;
                        height: 212px; 
                        position: relative;
//                      background: plum;
                    }
//                      码区
                        .erCode{
                            width: 170px;
                            height:170px;
                            position: absolute;
                            margin: 20px auto;
                            left:0;
                            border: 1px solid #f0f0f0;
                        }
                            .codImg{
                                width:150px ;
                                height: 150px;
//                              padding:10px;
                                background: url(../img.SignIn/getQrImage.png) no-repeat 10px;
//                              background: cadetblue;
                            }
//                      划过移动图片
                        .tipImg{
                            width: 122px;
                            height:202px ;
                            position: absolute;
                            right:0px;
//                          float: right;
                            background: url(../img.SignIn/sprites-hash-6954197b.png) -1px 234px;
//                          background: cadetblue;
                        }
//                  提示
                    .pro{
                        width: 300px;
                        height: 16px;
                        line-height: 1.8;
                        margin-top:10px;
                        font-size: 12px;
//                      background: gray;
//                      text-align: center;            
                        position: relative;
                    }
                        .pro span{
                            width: 16px;
                            height: 16px;
                            float: left;
                            margin-left:37px;
                            margin-right: 6px;
//                          background: cornflowerblue;
                            background: url(../img.SignIn/sprites-hash-6954197b.png) 16px -121px;
                        }
                            .Pro_center{
                                color:#f10180;
                            }
                .SignIn_byImg{
//                  display: none;
                }
//              登录输入区
                .SignIn_in{
                    width: 300px;
                    overflow: hidden;
//                  height: 253px;
//                  background: purple;
                }    
//                  手机
                    .SignIn_input{
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        transition: none!important;
                        opacity: 1!important;
                    } 
//                  
                        .SignIn_in  .u-input{
                            padding-left: 40px;
                            width: 248px;
                            height: 32px;
                            line-height: 32px;
                        }
                        .ui-input{
                            padding: 6px 10px;
                            font: 14px/20px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
                            color: #333;
                            background-color: #fff;
                            border: 1px solid #b2b2b2;
                            border-radius: 3px;
                            outline: 0;
                            transition: border-color .3s cubic-bezier(.39,.575,.565,1),background-color .3s cubic-bezier(.39,.575,.565,1);
                        }
                        
                        .has_item_icon .c-icon-form {
                            position: absolute;
                            top: 13px;
                            left: 11px;
                            z-index: 1;
//                          display: block;
                        }                        
                        .c-icon {
                            display: inline-block;
                            vertical-align: top;
                        }                       
                        .c-icon-txt {
                            background: url(../img.SignIn/sprites-hash-6954197b.png) -468px -161px;;
                            width: 20px;
                            height: 20px;
                        }
                        .c-icon-password{
                            background: url(../img.SignIn/sprites-hash-6954197b.png) -396px -161px;;
                            width: 20px;
                            height: 20px;
                        }
                        
                        .u-input-warning,.u-input-success{
                            position: absolute;
                            right: 1px;
                            top: 1px;
                            z-index: 11;
                            padding-right: 10px;
                            padding-left: 5px;
                            line-height: 44px;
                            font-size: 17px;
                            background: #fff;
                            border-radius: 3px;
                            visibility: hidden;
                            opacity: 0;
                        }                       
                        .iconfont{
                            speak: none;
                            font-style: normal;
                            font-weight: 400;
                            font-variant: normal;
                            text-transform: none;
                            -webkit-font-smoothing: antialiased;
                        }
                         .icon-if-wrong{
                            color: #f64a4a;
                        }
                        .icon-if-sucess{
                            color: #47b85c;
                        }
//                      未输入提示
                        .right_input-tip{
                            font-size: 12px;
                            color: #666;
                            position: relative;
                            min-height: 19px;
                            max-height: 36px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            margin-top: 2px;
                            margin-bottom: 5px;
                            line-height: 1.5;
                            display: block;
//                          background: gold;
                        }
//                      出错提示
                        .SignIn-error{
                            min-height: 40px;
                        }
                        .warSign_item_group{
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            transition: none!important;
                            opacity: 1!important;
                        }
//                  用户记录
                    .record{
                        height: 22px;
                        line-height: 22px;
                        overflow: hidden;
                        margin-bottom: 27px;
                        font-size: 11px;
                        color: #333333;
//                      background: greenyellow;
                    }
//                      记住用户名
                        .remember{
                            width: 19px;
                            height: 16px;
                            margin: 3px 0;
                            margin-right: 9px;
                            float: left;
                            background: url(../img.SignIn/sprite.png) 64px 0px;
                        }
//                      忘记密码
                        .forget{
                            width: 48px;
                            height: 16px;
                            float: right;
                            color: #333333;
                        }
                        .forget:hover{
                            color:#f10180;
                        }
//                  登录按钮
                    .SignIn_but{
                        display: block;
                        height: 46px;
                        line-height: 46px;
                        font-size: 16px;
                        color: #FFFFFF;
                        width: 300px;                    
                        background: #f10180;
                        border-radius: 4px;
                        text-align: center;
                    }
                    .SignIn_but:hover{
                        color:#FFFFFF;
                    }
                .SignIn_in{
                    display: none;
                }
            //登录盒子下部分
            .SignIn_right_footer{
                width: 300px;
//              height:121px; 
                overflow: hidden;
                padding-right: 30px;
                padding-left: 30px;
//              background-color: greenyellow;
                .right_footer_body{
                    width: 320px;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    padding-top: 30px;
                    padding-bottom: 15px;
                }
    //              微信登录
                    .signIn_WeChat{
                        position: relative;
                        z-index: 1;
                        margin-bottom: 12px;
                        height: 40px;
//                      background: paleturquoise;
                    }
                    
                    .signIn_WeChat:before{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        margin-left: -30px;
                        z-index: 2;
                        width: 60px;
                        height: 40px;
                        content: '';
                        background-color: #fff;
                    }
                    
                    .signIn_WeChat:after{
                        position: absolute;
                        z-index: 1;
                        content: '';
                        top: 20px;
                        left: 0;
                        width: 100%;
                        border-top: 1px solid #e0e0e0;
                    }
                        .wechat_go{
                            position: relative;
                            z-index: 2;
                            margin-right: auto;
                            margin-left: auto;
                            width: 40px;
                            height: 40px;
                        }
           
                        .wechat_go_a{
                            display: inline-block;
                            width: 40px;
                            height: 40px;                 
                        }
                            .wechat_Icon{
                                background-image: url(../img.SignIn/sprites-hash-6954197b.png);
                                background-position: -308px -161px;
                                width: 40px;
                                height: 40px;
                                display: inline-block;
                                position: relative;
                                z-index: 3;
                            }                        
                            .wechat_txt{
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 2;
                                width: 40px;
                                text-align: center;
                                line-height: 40px;
                                font-size: 14px;
                            }
                            
//                   免费注册
                    .signIn_register{
                        float: right;
                    }
                    .register_link{
                        z-index: 2;
                        color: #333;
                        line-height: 24px;
                        font-size: 14px;
                        position: relative;
                    }
                    .register_link:hover{
                        color: #f10180;
                    }
                                                        
//                  其他登录方式
//                      登录方式
                        .signIn_style{
                            margin-left: -10px;
                            position: relative;
                        }
//                           新浪，qq,支付宝
                            .signIn_style_list{
                                display: inline-block;
                                vertical-align: top;
                            }
                                .signIn_list_item{
                                    float: left;
                                    position: relative;
                                    padding-right: 11px;
                                    padding-left: 10px;
                                    line-height: 24px;
                                    font-size: 11px;
                                }
                                .signIn_list_item:after{
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    z-index: 1;
                                    margin-top: -5px;
                                    height: 10px;
                                    content: '';
                                    border-left: 1px solid #e0e0e0;
                                }
                                .signIn_list_item:last-child:after{
                                    display: none;
                                }
//                              新浪
                                    .isOpening .signIn_style_link,.isOpening .signIn_style_link:active,.isOpening .signIn_style_link:hover{
                                        cursor: default;
                                        color: #999;
                                    }
//                              更多     
                                .more-button{
                                    display: inline-block;
                                    margin-left: 20px;
                                    vertical-align: top;
                                    line-height: 24px;
                                    color: #999;
                                    font-size: 11px;
                                }
                                    .more-button .icon-xia,.more-button .icon-to-top{
                                        margin-left: 5px;
                                        vertical-align: top;
                                        line-height: 24px;
                                    }
        
                                .more-button .more_collapse{
                                    display: none;
                                }
//                      更多登录方式
                        .more_style_hidden{
                            padding-top: 17px;
                        }
                            .login-other-list{
                                margin-left: -15px;
                                width: 330px;
                                font-size: 0;
                            }  
                                .login-other-item{
                                    display: inline-block;
                                    position: relative;
                                    z-index: 2;
                                    margin-bottom: 10px;
                                    min-width: 66px;
                                    vertical-align: top;
                                    text-align: center;
                                    font-size: 12px;
                                }
                                .login-other-item:after{
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    z-index: 1;
                                    margin-top: -5px;
                                    height: 10px;
                                    content: '';
                                    border-left: 1px solid #e0e0e0;
                                }  
                                .login-other-item:last-child:after,.login-other-item:nth-child(5n):after {
                                    display: none;
                                }  
                        .more_style_hidden{
                            display: none;
                        }        
            }

footer{
    margin: 0 auto;
    width: 1000px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-size: 11px;
    color:#666;
}        
    

